<body>
<mat-toolbar class="navcolor">
  <span><img style="height: 60px;width: 60px;border-radius: 90%;" src="../../assets/images/heart.jpg" height=30 width=41></span>

  <span style="font-family: cursive;font-size:1cm;color: rgb(19, 1, 1);">&nbsp;Food</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" >
    <mat-icon aria-hidden="true" aria-label="Example home icon" class="icon1">home</mat-icon>
  </button>
  <p>&nbsp;&nbsp;</p>
  
  <a mat-button style="color: black;" href="https://www.google.com/" target="_blank">Log-in</a>
  <a mat-button style="color: black;" href="https://www.google.com/" target="_blank">Sign-up</a>
  <button mat-icon-button class="example-icon" >
    <mat-icon class="icon1">account_circle</mat-icon>
  </button>
</mat-toolbar>
</body>