.example-spacer {
    flex: 1 1 auto;
  }


.example-icon{
    background-color: blue;
    border-radius: 90%;
    border: none;
    
}
.icon1{
  color: white;
}
.icon1:hover {
    color:rgb(255, 0, 0);
  }

body{
    background-color: blue;
}

.btn1{
  width: 10%;
  background-color: white;
  border-left: none;
  border-style: none none solid none;

  
}


